<div id="<%= dom_id user %>">
  <p>
    <strong>EMail: </strong>
    <%= user.email %>
  </p>

  <p>
    <strong>ZipCode: </strong>
    <%= user.profile.zipcode %>
  </p>

  <p>
    <strong>address: </strong>
    <%= user.profile.address %>
  </p>

  <p>
    <strong>introduction: </strong>
    <%= user.profile.introduction %>
  </p>
</div>
