<p style="color: green"><%= notice %></p>

<h1><%= t("page.headline.top") %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t("page.link.show"), book %>
    </p>
  <% end %>
</div>

<%= link_to t("page.link.new"), new_book_path %>
